version: "3.9"

services:

  redis:
    image: redis:7
    container_name: transactions-redis
    ports:
      - "6380:6379"

  mongo:
    image: mongo:7
    container_name: transactions-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    container_name: transactions-api
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
      - mongo
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

    volumes:
      - ./logs:/logs


volumes:
  mongo_data:
